---
import Logo from "@/assets/icons/logo.svg";
import Menu from "@/assets/icons/menu.svg";
import Button from "@/components/Button.astro";
import LangSwitch from "@/components/LangSwitch.astro";
import { useTranslations } from "@/i18n/i18n";

const { lang } = Astro.params;
const t = useTranslations(lang as "en" | "it");

const menu = [
	{
		label: t("action.about"),
		path: "/about",
		theme: "text",
		labelColor: "secondary",
		hoverLabelColor: "secondary",
	},
	{
		label: t("action.projects"),
		path: "/projects",
		theme: "text",
		labelColor: "secondary",
		hoverLabelColor: "secondary",
	},
	{
		label: t("action.contact"),
		path: "/contacts",
		theme: "fill",
	},
];
---

<header class="header">
  <a class="logo" href={`/${lang}/`}>
    <Logo  height={'var(--s-xxl)'} fill={'var(--c-secondary)'}/>
  </a>
  <div class="mobile-menu">
    <Button
      class="btn-menu"
      icon={Menu}
      theme="ghost"
      size="big"
      labelColor="secondary"
      hoverBgColor="secondary"
    />
    <nav class="mobile-nav">
      {menu.map((item) => (
        <Button label={item.label} href={`/${lang}${item.path}`} theme={item.theme} size="big" labelColor={item.labelColor} hoverLabelColor={item.hoverLabelColor} />
      ))}
    </nav>
  </div>
  
  <nav class="desktop-nav">
    {menu.map((item) => (
      <Button label={item.label} href={`/${lang}${item.path}`} theme={item.theme} size="big" labelColor={item.labelColor} hoverLabelColor={item.hoverLabelColor} />
    ))}
  </nav>
  <LangSwitch />
</header>


<script>

  import { dropdown } from '@/utils/dropdown';
  dropdown('.mobile-menu', '.btn-menu', '.mobile-nav');
</script>

<style lang="scss">
  .header {
  height: 5rem;
  display: flex;
  align-items: center;
  gap: var(--s-uxs);
  padding-inline: var(--s-xxl);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-2);
  background-color: var(--c-primary);
  
  @include media(sm) {
    gap: var(--s-df);
    padding-inline: var(--s-big);
  }
}

.logo {
  margin-right: auto;
}

.logo:focus-visible {
  @include focus-visible($radius: var(--s-uxs));
}

.mobile-menu {
  @include media(sm) {
    display: none;
  }
}

.mobile-nav {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--s-xxl);
  position: absolute;
  top: 4rem;
  right: var(--s-xxl);
  left: var(--s-xxl);
  z-index: var(--z-index-top);
  padding: var(--s-xxs) var(--s-df);
  background: var(--c-primary);
  border-radius: var(--s-xxs);
  border: 1px solid var(--c-secondary);
  box-shadow: var(--sw-dp8);
  transform: translateY(-0.5rem);
  transition: var(--transition-025);
  overflow: hidden;
  opacity: 0;
}


.mobile-menu.open .mobile-nav {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.desktop-nav {
  display: none;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-xxl);
  
  @include media(sm) {
    display: flex;
  }
}
</style>
