---
import ContactsCta from "@/components/blocks/ContactsCta.astro";
import HeroPage from "@/components/blocks/HeroPage.astro";
import ProjectCard from "@/components/blocks/ProjectCard.astro";
import Layout from "@/components/layouts/Layout.astro";
import MarkdownText from "@/components/typography/MarkdownText.astro";
import { useTranslations } from "@/i18n/i18n";
import Section from "@/components/layouts/Section.astro";

const t = useTranslations("en");

// Importa tutti i progetti in inglese
const allProjects = import.meta.glob("../content/en/projects/*.md");

// Carica tutti i progetti in parallelo
const projects = await Promise.all(
	Object.entries(allProjects).map(async ([path, resolver]) => {
		const module = await resolver();
		const slug = path.split("/").pop()?.replace(".md", "") || "";
		return {
			...module.frontmatter,
			slug: module.frontmatter?.slug || slug,
			url: `/projects/${module.frontmatter?.slug || slug}`,
		};
	}),
);

// Ordina solo per data (dal più recente al più vecchio)
projects.sort(
	(a, b) => new Date(b.date || 0).getTime() - new Date(a.date || 0).getTime(),
);
---

<Layout theme="default">
  <HeroPage title={t('projects.title')} />
  <Section maxWidth="sm" padding={["st", "uxxs"]}>
    <MarkdownText text={t('projects.text')} size={['lg', 'xxl']}/>
  </Section>
  <Section  maxWidth="sm">
    <div class="list">
      {projects.map((project) => (
        <ProjectCard
          url={project.url}
          logo={project.logo}
          title={project.title}
          excerpt={project.excerpt}
          cover={project.cover}
          date={new Date(project.date).getFullYear().toString()}
        />
      ))}
    </div>
  </Section>
  <Section bgColor="secondary">
    <ContactsCta color="primary" align="center" />
  </section>
</Layout>

<style lang="scss">
  .list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--s-sp);
}

</style>
