---
import Layout from "@/components/layouts/Layout.astro";

import MarkdownText from "@/components/typography/MarkdownText.astro";
import Typo from "@/components/typography/Typo.astro";
import { useTranslations } from "@/i18n/i18n.ts";
import ContactsCta from "../../components/blocks/ContactsCta.astro";
import ProjectInfo from "../../components/blocks/ProjectInfo.astro";
import Section from "../../components/layouts/Section.astro";

const t = useTranslations("en");

const { project } = Astro.params;

const allProjects = import.meta.glob("../../content/projects/*.md");

const projectList = await Promise.all(
	Object.values(allProjects).map((resolver) => resolver()),
);

const projectContent = projectList.find(
	(mod) =>
		(mod.frontmatter.slug || mod.frontmatter.title.toLowerCase()) === project,
);

if (!projectContent) {
	throw new Error(`Project "${project}" not found`);
}

const { title, logo, date, tags, website, git } = projectContent.frontmatter;
const content = projectContent.rawContent();

export async function getStaticPaths() {
	const allProjects = import.meta.glob("../../content/projects/*.md");

	const paths = Object.keys(allProjects)
		.map((path) => {
			const slug = path.split("/").pop()?.replace(".md", "");
			return slug ? { params: { project: slug } } : null;
		})
		.filter(Boolean);

	return paths;
}
---

<Layout>
  <div class="hero">
    {title && <Typo class="title" text={title} tag="h1" weight="black" color="secondary" size={['tr', 'sp']}} balancer/> }
    <!--{logo && <img class="logo" src={logo} alt={title} />}-->
  </div>

  <Section maxWidth="sm" padding={["st", "uxxs"]}>
    <MarkdownText class="content" text={content} size={['lg', 'xxl']}/>
  </Section>


  <Section maxWidth="sm" padding={["uxxs", "st"]}>
    <ProjectInfo info={[
      {
        label:t("label.year"),
        date
      },
      {
        label:t("label.stack"),
        tags
      },
      {
        label:t("label.website"),
        url: website
      },
      {
        label:t("label.git"),
        url: git
      }
    ]} />
  </Section>
  
  <Section maxWidth="df" bgColor="secondary">
    <ContactsCta color="primary" align="center" />
  </section>
  
</Layout>

<style lang="scss">
  .hero {
    width: 100%;
    max-width: var(--w-max-sm);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'title';
    padding-inline: var(--s-xxl);
    
    @include media(md) {
      padding-inline: 0;
    }
  }

  .hero :global(.title) {
    grid-area: title;
    align-self: center;
    text-transform: uppercase;
  }

  .logo {
    grid-area: title;
    align-self: center;
    max-width: 50%;
    max-height: var(--s-sp);
    transition: var(--transition-025);
  }

  // If has logo hide title
  .hero:has(.logo) :global(.title) {
    color: var(--c-primary);
    opacity: 0;
  }
  
  // Image
  /*:global(.content) :global(img) {*/
  /*  background-color: var(--c-secondary);*/
  /*}*/
</style>
